* {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

#jumbotron1{
    image-orientation: url('../ResultsRx.png') ;
    background-position-x: ;
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
}

#moto {
    width: 550px;
}