* {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

#jumbotron1{
    background-image: url('static/images/lab-tests.jpg') ;
    background-position-x: right;
    text-align: left;
}

#map {
    height: 400px;
    width: 100%;
}

#moto {
    width: 551px;
}